/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/

/* BODY */
	body{


	}

	/* TOPO */
		.topo {
			position:relative;
			
		}
		.topo .area-topo {
			position: absolute;
			width: 100%;
			top: 0px;
			z-index: 9999;
		}

		 .topo .item {
		z-index: 0; 
		background-size: cover !important;			    
		height: 420px;
		background-position: 90% 70% !important;
		background-repeat: no-repeat !important;



		}
		.topo .item .frase{
		text-align: center;
		margin-top: 280px;
		

		}
		 .topo .item .frase span{
		color: #fff;
		font-size: 30px;
		font-family: Poiret One;
		font-weight: 400;

-webkit-filter: brightness(1.2);
   -moz-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
     -o-filter: brightness(1.2);
filter: brightness(0.2);

		
		}

		 .topo::before {

		}

		 .topo .area-topo .navbar{
			background: rgba(106, 162, 183, .35);
			border: none;
			height: 420px;
		}

		 .topo .area-topo .navbar-header{
		width:100%;
		margin-top: 40px;	

		}						

		 .topo .area-topo .navbar-toggle{
		background-color: rgba(255, 255, 255, 0.36);
		margin-right: 10px;
		}

		 .topo .area-topo .icon-bar{
		background-color: #fff;
		}

		 .topo .area-topo .navbar-header h1 {
		display: block;

		width: 270px;
		height: 190px;
		margin: 5px auto;
		padding: 0;

		text-indent: -9999em;

		background: url(../img/logo.png) no-repeat;
		background-size: contain;


		/*position: relative;*/
		}

		.navbar-collapse.in{

		}

		 .topo .area-topo .navbar-nav {
		margin-top: 30px;

		}

		 .topo .area-topo .navbar-nav li {
		display:inline-block;
		float: none;
		clear: both;						    
		position: relative;
		margin: 0 5px;
		list-style: none!important;

		}

		 .topo .area-topo .navbar-nav li:hover a{

		background-color: transparent;
		border-color: transparent;

		}

		 .topo .area-topo .navbar-nav li.link-ativo{

		}

		 .topo .area-topo .navbar-nav li.open a{

		background-color: transparent;
		border-color: transparent;							 
		}

		 .topo .area-topo .navbar-nav li a {
		padding: 10px 5px;
		text-decoration: none;
		color: #fff;
		font-size: 19px;
		font-weight: 300;

		}
		 .topo .area-topo .navbar-nav li a::after{

		-webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
		-moz-transition: height .3s, opacity .3s, -moz-transform .3s;
		transition: height .3s, opacity .3s, transform .3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);

		opacity: 0;
		background: #fff;
		content: '';
		background-color: #FFF;
		height: 2px;
		width: 100%;
		position: absolute;
		top: 40px;
		left: 0;

		}
		 .topo .area-topo .navbar-nav li a:hover::after{
		height: 3px;

		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);

		opacity: 1;
		}

		 .topo .area-topo .navbar-nav li.link-ativo a {

		}

		 .topo .area-topo .navbar-nav li a:hover {

		}

		.nav > li > a:hover,
		.nav > li > a:focus {

		}

		 .topo .area-topo .navbar-nav li a .fa {

		}

		.navbar-nav > li > .dropdown-menu {
		background-color: rgba(0,0,0,0.2);

		}

		.navbar-nav .open .dropdown-menu > li {
		margin:0;										
		border-bottom: 1px solid #fff;
		width: 100%;										
		}

		.navbar-nav .open .dropdown-menu > li > a {
		text-decoration: none!important;
		border-bottom: 1px solid #fff;
		font-size: 15px;

		}

		.navbar-nav .open .dropdown-menu > li > a:hover{
		background-color: white;
		color: #c52f33;
		text-shadow: 1px 6px 9px rgba(150, 150, 150, 1);
		font-weight: 400;
		}
		 

	/* RODAPÉ */
		.rodape{
			margin-top: 500px;
			/*background: #272727;*/
			background-image: url(../img/bg-footer.jpg);
			background-size: cover;			    
		    height: ;
		    background-position: 90% 70%;
			background-repeat: no-repeat;

		}
		
		.rodape .titulo-footer{
			color: #fff;
			font-size: 23px;
			text-align: center;
			font-weight: 300;
			border-bottom:solid 1px #fff;
			width: 300px;
			margin:auto;
			margin-top: 20px;
			margin-bottom: 20px;

		}
			.rodape .titulo-footer p{
				font-family: 'Open Sans', sans-serif;
			}
				.rodape .titulo-footer span{
					font-weight: bold
				}
					.rodape .titulo-footer i{

					}
		.rodape .contato {
			margin: auto;
			padding: 20px;
		}
			.rodape .contato span{
				color:  #777;
				display: inline-block;
				margin-top: 7px;
				font-size: 17px;
			}
				.rodape .contato i{
					margin: 5px;
					font-size: 23px;
					color: #fff;
				}
		.rodape .redes-sociais{
			margin: auto;
			text-align: center;
			margin-top: 50px;
		}
			.rodape .redes-sociais span{
				
			}
				.rodape .redes-sociais a{
					text-decoration: none;
					color: #9C9C9C;
					font-size: 40px;
					margin:20px;


				}
					.rodape .redes-sociais a:hover{
						
						color: #fff;
					}
		.rodape .novidades{
			margin: auto;
			max-width: 300px;
			margin-bottom: 30px;
			padding: 5px;
		}
			
			.rodape .novidades input{
		
			}
				.rodape .novidades button{
					width: 100%;
					font-size: 20px;
					color: #9C9C9C;
					border:solid 1px transparent;
				}
					.rodape .novidades button:hover{
						background: #A2A2A2;
						font-size: 20px;
						color: #fff;
						border:solid 1px #fff;
					}
				



			/* COPYRIGHT */
				 .termos {
				    font-size: 14px;

				    padding: 25px;

				    text-align: center;

				    color: #fff;
				    border-top: solid 1px #fff;
				    background-color: #272727;;
				}

				.termos small{
					color: #7B7B7B;;
				}

				.termos span{
					color:red ;
				}
	


	/* COPYRIGHT */
		.copyright{

		}

	/* PG */
		.pg{

		}
			.pg .titulo-post{
				font-size: 30px;
				margin: 20px;
				font-family: 'Open Sans', sans-serif;
				text-align: center;
			}
				



	/* PG INTERNAS*/
		.pg-internas{

		}

	/* PG INICIAL*/
		.pg-inicial{

		}
			.pg .titulo-post p{
				font-size: 17px;
				text-align: left;
				padding: 30px;
			}
				.pg-inicial .posts .correcao{
					padding: 20px;
				}
					.pg-inicial .posts a{
						text-align: center;
						text-decoration: none;
					}
						.pg-inicial .posts .img-ilustrativa{
								background-image: url(../img/msg-modeladora.jpg);
								background-size: cover;			    
							    height:200px; 
							    background-position: 90% 70%;
								background-repeat: no-repeat;
								width: 100%;
								max-width: 100%;
						}
							.pg-inicial .posts .img-ilustrativa .lente{
								height: 200px;
								width: 100%;
								background-color:  rgba(0, 0, 0, 0.54);

							}
								.pg-inicial .posts a:hover .lente{
									height: 200px;
									width: 100%;
									background-color:  transparent;

								}
							.pg-inicial .posts .descricao{

							}
								.pg-inicial .posts .descricao h2{
									font-size: 20px;
									color: #484848;
								}
									.pg-inicial .posts .descricao p{
										color: #767676;
									}
			

	/* PG CONTATO*/
		.pg-contato{

		}

	/* EXTRAS */
		.correcao-x{
			padding: 0 20px;
		}
		.correcao-y{
			padding: 20px 0;
		}
		.correcao-xy{
			padding: 20px;
		}

	/* BOTÕES */
		.botao-exemplo{

		}

	/* @MEDIA */
		@media (max-width: 1200px) {

		}
		/* @MEDIA */
		@media (max-width: 767px) {
			 .topo .area-topo .navbar-nav {
			    margin-top: 30px;
			    background-color: #949191;
			}

			 .topo .area-topo .navbar-nav li{
				display: block;
			}
			 .topo .area-topo{
				height: auto;
			}
		}